export AWS_ACCESS_KEY_ID=AKIAVGxxxxx
export AWS_SECRET_ACCESS_KEY=ESVwHlRxxxxxxxxxxx

export POSTGRES_DB=smart_building
export POSTGRES_USER=debug
export POSTGRES_PASSWORD=debug
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
